In [1]:
# %load ds_imp_set.py
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

np.set_printoptions(suppress=True, precision=4)
pd.set_option('display.max_columns', None)
sns.set_context(context='notebook')
sns.set_style(style='whitegrid')

In [2]:
import pickle
p_then_d = pickle.load(open('./pkl/p_then_d.pkl', 'rb'))
predi_1st_dn = pickle.load(open('./pkl/predi_1st_dn.pkl', 'rb'))

In [3]:
df = pd.read_csv('./csv/diabetic_model3.csv')

In [4]:
df.head()

,patient,Body Height,Body Mass Index,Body Weight,Calcium,Carbon Dioxide,Chloride,Diastolic Blood Pressure,Glucose,Potassium,Sodium,Systolic Blood Pressure,Urea Nitrogen,deceased,persistent_condition,pro_reason_given,enc_reason_given,mcr_reported,fev_fvc_reported,glomerular_reported,triglyc_choles_reported,age,single_condition,diag_age,marital_S,marital_nan,sex_M,sex_nan,con_start
0,0003d26b-8757-449d-a4d6-c6dbaa822426,165.47,34.80,95.27,9.47,26.0,101.0,76.0,72.0,3.96,136.0,113.0,13.0,0,1,0,0,0,0,0,0,44,1,32.958904,1,0,0,0,1999-09-15
1,00156155-152c-4836-8902-cadb73995b17,190.18,27.14,98.17,9.92,28.0,104.0,87.0,97.0,4.91,144.0,137.0,13.0,0,1,0,0,0,0,0,1,70,0,64.432877,0,0,1,0,2004-05-20
2,001bbf9c-6b41-46d0-9e79-83cd34d053af,159.56,36.83,93.77,9.49,27.0,103.0,118.0,94.0,4.61,138.0,146.0,16.0,0,1,0,0,0,0,1,1,55,0,18.306849,0,0,0,0,1973-05-29
3,002008bb-1d9f-4662-91ce-29d12c562797,171.20,31.97,93.69,9.34,23.0,108.0,118.0,117.0,3.94,137.0,180.0,19.0,0,1,0,0,1,0,1,1,80,0,80.934247,1,0,1,0,2015-05-16
4,00210499-4972-4bd0-a21f-7325dc310058,166.43,33.57,92.98,9.47,24.0,107.0,97.0,71.0,5.17,136.0,174.0,10.0,0,1,0,0,1,0,1,1,79,0,45.317808,1,0,0,0,1976-05-02

In [5]:
not_relevent = df[np.logical_not(df['patient'].isin(predi_1st_dn))].index

In [6]:
df.drop(not_relevent, axis=0, inplace=True)
df.index = list(range(df.shape[0]))

In [7]:
df.shape

(5101, 29)

In [8]:
df['developed_diabetes'] = df['patient'].isin(p_then_d).astype('int')

In [9]:
df.head()

,patient,Body Height,Body Mass Index,Body Weight,Calcium,Carbon Dioxide,Chloride,Diastolic Blood Pressure,Glucose,Potassium,Sodium,Systolic Blood Pressure,Urea Nitrogen,deceased,persistent_condition,pro_reason_given,enc_reason_given,mcr_reported,fev_fvc_reported,glomerular_reported,triglyc_choles_reported,age,single_condition,diag_age,marital_S,marital_nan,sex_M,sex_nan,con_start,developed_diabetes
0,0003d26b-8757-449d-a4d6-c6dbaa822426,165.47,34.80,95.27,9.47,26.0,101.0,76.0,72.0,3.96,136.0,113.0,13.0,0,1,0,0,0,0,0,0,44,1,32.958904,1,0,0,0,1999-09-15,0
1,00156155-152c-4836-8902-cadb73995b17,190.18,27.14,98.17,9.92,28.0,104.0,87.0,97.0,4.91,144.0,137.0,13.0,0,1,0,0,0,0,0,1,70,0,64.432877,0,0,1,0,2004-05-20,0
2,003ee287-758f-4714-a36e-03100437497d,165.03,36.11,98.35,8.86,25.0,103.0,88.0,75.0,4.54,143.0,103.0,13.0,0,1,0,0,0,0,0,1,37,1,37.495890,1,0,1,0,2014-09-29,0
3,006812d8-604a-439c-841d-454651696088,190.18,30.85,111.60,9.65,25.0,111.0,80.0,92.0,3.73,140.0,138.0,9.0,0,1,0,0,0,0,0,0,26,1,26.273973,1,0,1,0,2010-08-04,0
4,0077c430-1823-482c-a27e-54478b242465,158.08,48.81,121.98,9.96,21.0,109.0,83.0,71.0,4.08,139.0,122.0,12.0,0,1,0,0,0,0,0,0,40,1,40.720548,0,0,0,0,2015-08-05,0

In [10]:
df.drop(['deceased', 'single_condition', 'persistent_condition', 'con_start'], axis=1, inplace=True)

In [11]:
df.to_csv('./csv/diabetic_classification.csv', index=False)